.divNewsTitle h2{
    color: red;
    font-weight: 700;
    font-size: 25px;
}
.divNewsTitle{
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 5px solid gray;
}
.divNewsTitle h2 span{
    color: green;
}
.image-new{
    border-radius: 100%;
    height: 200px;
    border: 10px solid rgb(46, 235, 28);
}
.card-news{
    text-align: left;
}
.card-news button{
    color: red;
    border: none;
}
.propagate{
    background-color: #8DC63F;
    padding: 20px;
    text-align: center;
    color: white;
}

.propagate .col-5{
    background-color: white;
    padding: 10px;
    color: black;
    text-align: left;
}
.image-new-movies{
    height: 200px;
    border-radius: 100%;
    border: 10px solid rgb(46, 235, 28);
}
.movies{
    border: 1px solid rgb(206, 204, 204);
    padding: 20px;
}
.divMovies{
    background-color: #F1F2F2;
    padding: 20px;

}
@media screen and (max-width: 768px) {
    .card-news{
        width: 50%;
        margin-top: 5%;
    }
    .cardVideo{
        width: 100%;
    }
    .cardMenu{
        width: 100%;
    }
    .movies{
        width: 100%;
    }
    .movies img{
        width: 100% !important;
        display: none;
    }

}
@media screen and (max-width: 1100px) {
    .card-news{
        width: 50%;
        margin-top: 5%;
        text-align: center;

    }
    .cardVideo{
        width: 100%;
    }
    .cardMenu{
        width: 100%;
    }
    .movies{
        width: 100%;
    }
    .card-news img{
        width: 60% !important;
    }
}
@media screen and (max-width: 500px) {
    .card-news{
        width: 100%;
        margin-top: 5%;
        text-align: center;
    }
    .card-news img{
        width: 60% !important;
    }
    .side-bar{
        display: none;
    }
    .home-page{
        width: 100% !important;
    }
}
@media screen and (max-width: 1200px) {
    
}