.marquee-container {
    width: 75%;
    overflow: hidden;
  }
  
  .marquee-content {
    white-space: nowrap;
    animation: marquee 20s linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  .navbar-nav{
    font-size: 13px;
    font-weight: 600;
  }
  .nav-link{
    color: white !important;
  }
  .navbar-toggler{
    float: right;
  }
  .bg-body-tertiary{
    background-color: green !important;
  }