.media-container h2{
    color: red;
    font-size: 25px;
    font-weight: 600;
}
.media-container h2 span{
    color: #008000;
    font-size: 25px;
}

.conten-card{
    text-align: left;
}
.card-image{
    height: 200px;
}
.conten-card button{
    border: none;
    color: #01776B;
    font-size: 15px;
}
.card-media{
    border-bottom: 2px solid rgb(207, 204, 204);
    align-items: center;
}